<p>
  drag-drop-firebase works!
</p>


<div cdkDropListGroup>
  <div class="example-container">
    ---- bb ---------
    <h2>room B</h2>
    <div
      cdkDropList
      [id]="'items-b'"
      [cdkDropListData]="itemsB"

      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of itemsB" cdkDrag>
        <app-user-show [user]="item"></app-user-show>
      </div>
    </div>
  </div>

  <div class="example-container">
    --------- aa ---------
    <h2>room A</h2>
    <div
      cdkDropList
      [id]="'items-a'"
      [cdkDropListData]="itemsA"

      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of itemsA" cdkDrag>{{item.name}}</div>
    </div>
  </div>

  <div class="example-container">
    --------- cc -----------
    <h2>room C</h2>
    <div
      cdkDropList
      [id]="'items-c'"
      [cdkDropListData]="itemsC"

      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of itemsC" cdkDrag>{{item.name}}</div>
    </div>
  </div>

</div>

-------- aa ---------
<ul>
  <li class="text" *ngFor="let item of itemsA">
    {{item.name}}
  </li>
</ul>


--------- bb --------
<ul>
  <li class="text" *ngFor="let item of itemsB">
    {{item.name}}
  </li>
</ul>

--------cc----
<ul>
  <li class="text" *ngFor="let item of itemsC">
    {{item.name}}
  </li>
</ul>
