<p>
  drag-drop-firebase works!
</p>

<div cdkDropListGroup>
  <app-draggable-area [items]="itemsA" [item_name]="'items-a'" (onDrop)="drop($event)" ></app-draggable-area>
  <app-draggable-area [items]="itemsB" [item_name]="'items-b'" (onDrop)="drop($event)"></app-draggable-area>
  <app-draggable-area [items]="itemsC" [item_name]="'items-c'" (onDrop)="drop($event)"></app-draggable-area>
</div>


-------- aa ---------
<ul>
  <li class="text" *ngFor="let item of itemsA">
    {{item.name}}
  </li>
</ul>


--------- bb --------
<ul>
  <li class="text" *ngFor="let item of itemsB">
    {{item.name}}
  </li>
</ul>

--------cc----
<ul>
  <li class="text" *ngFor="let item of itemsC">
    {{item.name}}
  </li>
</ul>
